[submodule "bundle/bim-multicursor"]
	path = bundle/bim-multicursor
	url = https://github.com/paradigm/vim-multicursor
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/SearchParty"]
	path = bundle/SearchParty
	url = https://github.com/dahu/SearchParty
[submodule "bundle/vim-fugative"]
	path = bundle/vim-fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic/
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/delimiMate"]
	path = bundle/delimiMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib
[submodule "bundle/vimbuffergator"]
	path = bundle/vimbuffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "bundle/simple_bookmerks"]
	path = bundle/simple_bookmerks
	url = https://github.com/AndrewRadev/simple_bookmarks.vim
[submodule "bundle/simple_bookmarks"]
	path = bundle/simple_bookmarks
	url = https://github.com/AndrewRadev/simple_bookmarks.vim
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim
[submodule "bundle/jscomplete-vim"]
	path = bundle/jscomplete-vim
	url = https://github.com/teramako/jscomplete-vim
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = git@github.com:davidoc/taskpaper.vim.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
[submodule "bundle/w3m"]
	path = bundle/w3m
	url = git@github.com:yuratomo/w3m.vim.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = git@github.com:lukerandall/haskellmode-vim.git
[submodule "bundle/todo.txt"]
	path = bundle/todo.txt
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "bundle/vim-istanbul"]
	path = bundle/vim-istanbul
	url = git://github.com/juanpabloaj/vim-istanbul.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = https://github.com/yssl/QFEnter.git
